@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
#eval_img {
    /* width: 872px; */
    width: 500px;
    height: 250px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px solid black;
    box-shadow: 0px 0px 7px 2px black;
    /* position: sticky; */
    /* position: fixed; */
    /* top: 10px; */
}

#res_h1 {
    margin-top: 20px;
}

.lgnd-style{
    /* position: fixed; */
    /* top : 130px;
    right: 4%; */
    /* width: 180px; */
    width: 185px;
    height: 120px;
    z-index: 1;
    /* margin-right: 10px; */
    background-color: rgba(7, 7, 7, 0.3);
    vertical-align: middle;
   /* border: 1px solid black;*/
    border-radius: 20px;
}
#encl{
    position: relative;
}

#d_sp1{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkgreen;
    left: 20px;
    top: 20px;
}

#d_sp2{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 80px;
    background-color: maroon;
}

#sp1{
    position: absolute;
    left: 50px;
    top: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#sp2{
    position: absolute;
    top: 80px;
    left: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#encl {
    position: relative;
    height: inherit;
    font-size: 15px;
}

.tbl {
    border-collapse: collapse;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 40px;
}

#sidenav {
    position: fixed;
    z-index: 1;
}